<% @stations.each do |station| %>
  <div class="container">
    station name: <%= station.name %>
    fuel types: <%= station.fuel_types %>
    address: <%= station.street_address %>
    <%= station.city %>, <%= station.state %> <%= station.zip %>
    access times and days: <%= station.access_day_and_time %>
  </div>
<% end %>
